* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%; }

input[type=reset], input[type=submit], input[type=button], button {
  cursor: pointer;
  border-radius: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%; }

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
  font-family: inherit; }

body {
  background-color: #212121;
  padding: 50px; }

div.site {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f7f7f7;
  padding: 50px; }
  div.site.close {
    display: none; }
  div.site > header {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative; }
    div.site > header::before {
      content: '';
      display: block;
      width: 62px;
      height: 1px;
      background-color: #999999;
      position: absolute;
      left: -70px;
      top: 8px; }
    div.site > header::after {
      content: '';
      display: block;
      width: 14%;
      height: 1px;
      background-color: #999999;
      position: absolute;
      right: -75px;
      top: 8px; }
    div.site > header div.lasha {
      width: 350px; }
      div.site > header div.lasha a {
        color: #333333;
        font-family: "DIN Next LT Pro";
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase; }
    div.site > header nav {
      width: calc(100% - 350px); }
      div.site > header nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        div.site > header nav ul li {
          font-family: "DIN Next LT Pro";
          font-size: 17px;
          font-weight: 500;
          text-transform: uppercase;
          color: #bcbcbc;
          margin-right: 100px;
          cursor: pointer; }
          div.site > header nav ul li.active {
            color: #333333; }
  div.site .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 75px); }
    div.site .container aside {
      width: 350px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      div.site .container aside header address dl dt {
        color: #333333;
        font-family: "DIN Next LT Pro";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; }
      div.site .container aside header div.soc {
        margin-top: 55px; }
      div.site .container aside header div a img {
        margin-right: 10px; }
      div.site .container aside footer {
        color: #333333;
        font-family: "DIN Next LT Pro";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; }
    div.site .container main {
      width: calc(100% - 350px);
      height: 100%;
      overflow: auto; }
      div.site .container main .categories div {
        display: none; }
        div.site .container main .categories div.show {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
        div.site .container main .categories div article {
          overflow: hidden;
          width: calc(100% / 3 - 40px);
          position: relative;
          background-color: #171717;
          margin-right: 20px;
          margin-bottom: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          div.site .container main .categories div article::before {
            content: '';
            background-color: #171717;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.8;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          div.site .container main .categories div article:hover::before {
            opacity: 0.4; }
          div.site .container main .categories div article:nth-child(3n + 3) {
            margin-right: 0px; }
          div.site .container main .categories div article .wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            div.site .container main .categories div article .wrap:hover h2.title {
              -webkit-transform: translateX(0%);
              -ms-transform: translateX(0%);
              transform: translateX(0%); }
            div.site .container main .categories div article .wrap:hover button.lightbox {
              -webkit-transform: translateX(0%) rotate(-360deg);
              -ms-transform: translateX(0%) rotate(-360deg);
              transform: translateX(0%) rotate(-360deg); }
            div.site .container main .categories div article .wrap h2.title {
              position: relative;
              -webkit-transform: translateX(-500px);
              -ms-transform: translateX(-500px);
              transform: translateX(-500px);
              padding: 0 20%;
              color: #ffffff;
              font-family: "DIN Next LT Pro";
              font-size: 17px;
              font-weight: 500;
              text-transform: uppercase;
              text-align: center;
              -webkit-transition: 0.5s;
              -o-transition: 0.5s;
              transition: 0.5s; }
            div.site .container main .categories div article .wrap button.lightbox {
              position: relative;
              display: block;
              margin-top: 15px;
              background-color: transparent;
              -webkit-transition: 0.8s;
              -o-transition: 0.8s;
              transition: 0.8s;
              -webkit-transform: translateX(500px) rotate(860deg);
              -ms-transform: translateX(500px) rotate(860deg);
              transform: translateX(500px) rotate(860deg); }
              div.site .container main .categories div article .wrap button.lightbox img {
                width: 50px; }

.contentwrapper {
  width: 1115px;
  margin: auto; }

div.lightbox {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background-color: #f7f7f7;
  z-index: 10;
  padding: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  div.lightbox.open {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  div.lightbox header {
    position: relative; }
    div.lightbox header::before {
      content: '';
      width: 19.75%;
      height: 1px;
      background-color: #999999;
      display: block;
      position: absolute;
      left: -70px;
      top: 8px; }
    div.lightbox header div h3 {
      color: #333333;
      font-family: "DIN Next LT Pro";
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase; }
    div.lightbox header div a {
      display: block;
      margin-top: 25px;
      color: #999999;
      font-family: "DIN Next LT Pro";
      font-size: 17px;
      font-weight: 300; }
    div.lightbox header div button.close {
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 0; }
  div.lightbox section {
    margin-top: 35px;
    height: calc(100% - 85px); }
    div.lightbox section.content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    div.lightbox section .btnwrapper {
      width: calc((100% - 1115px) / 2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      div.lightbox section .btnwrapper button {
        background-color: transparent; }
        div.lightbox section .btnwrapper button.prev {
          margin-left: -50px; }
        div.lightbox section .btnwrapper button.next {
          margin-left: 50px; }
    div.lightbox section div.gallerywrapper {
      overflow: auto;
      background-color: #000000;
      width: 1115px; }
