* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
}

input[type=reset], input[type=submit], input[type=button], button {
  cursor: pointer;
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  transition: 0.3s;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('../fonts/DINNextLTPro-Medium.woff') format('woff2'),
  url('../fonts/DINNextLTPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #212121;
  padding: 25px;
}

div.site {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: #f7f7f7;
  padding: 50px;
  &.close{
    display: none;
  }
  & > header {
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 62px;
      height: 1px;
      background-color: #999999;
      position: absolute;
      left: -70px;
      top: 8px;
    }
    &::after{
      content: '';
      display: block;
      width: 14%;
      height: 1px;
      background-color: #999999;
      position: absolute;
      right: -75px;
      top: 8px;
    }
    div {
      &.lasha {
        width: 350px;
        a {
          color: #333333;
          font-family: "DIN Next LT Pro";
          font-size: 17px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
    nav {
      width: calc(100% - 350px);
      ul {
        display: flex;
        li {
          font-family: "DIN Next LT Pro";
          font-size: 17px;
          font-weight: 500;
          text-transform: uppercase;
          color: #bcbcbc;
          margin-right: 100px;
          cursor: pointer;
          &.active{
            color: #333333;
          }
          a {
          }
        }
      }
    }
  }
  .container {
    display: flex;
    height: calc(100% - 75px);
    aside {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      header {
        address {
          dl {
            dt {
              color: #333333;
              font-family: "DIN Next LT Pro";
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
              a {
              }
            }
          }
        }
        div {
          &.soc {
            margin-top: 55px;
          }
          a {
            img{
              margin-right: 10px;
            }
          }
        }
      }
      footer {
        color: #333333;
        font-family: "DIN Next LT Pro";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
      }
    }
    main {
      width: calc(100% - 350px);
      height: 100%;
      overflow: auto;
      .categories{
        div{
          display: none;

          &.show{
            display: flex;
            flex-wrap: wrap;
          }
          article{
            overflow: hidden;
            width: calc(100% / 3 - 40px);
            position: relative;
            background-color: #171717;
            margin-right: 20px;
            margin-bottom: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before{
              content: '';
              background-color: #171717;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0.8;
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -ms-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s;
            }
            &:hover{
              &::before{
                opacity: 0.4;
              }
            }
            &:nth-child(3n + 3){
              margin-right: 0px;
            }
            .wrap{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &:hover{
                h2.title{
                  transform: translateX(0%);
                }
                button.lightbox{
                  transform: translateX(0%) rotate(-360deg);
                }
              }
              h2.title{
                position: relative;
                transform: translateX(-500px);
                padding: 0 20%;
                color: #ffffff;
                font-family: "DIN Next LT Pro";
                font-size: 17px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                transition: 0.5s;
              }
              button.lightbox{
                position: relative;
                display: block;
                margin-top: 15px;
                background-color: transparent;
                transition: 0.8s;
                transform: translateX(500px) rotate(860deg);
                img{
                  width: 50px;
                }
              }
            }

          }
        }
      }
    }
  }

}
.contentwrapper {
  width: 1115px;
  margin: auto;
}
div.lightbox {
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background-color: #f7f7f7;
  z-index: 10;
  padding: 50px;
  transition: 0.5s;
  transform: scale(0);
  &.open{
    transform: scale(1);
  }
  header {
    position: relative;
    &::before{
      content: '';
      width: 19.75%;
      height: 1px;
      background-color: #999999;
      display: block;
      position: absolute;
      left: -70px;
      top: 8px;
    }
    div {
      h3 {
        color: #333333;
        font-family: "DIN Next LT Pro";
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
      }
      a {
        display: block;
        margin-top: 25px;
        color: #999999;
        font-family: "DIN Next LT Pro";
        font-size: 17px;
        font-weight: 300;
      }
      button {
        &.close {
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 0;
        }
        &[type=button] {

        }
        img {
        }
      }
    }
  }
  section {
    margin-top: 35px;
    height: calc(100% - 85px);
    &.content {
      display: flex;
    }
    .btnwrapper{
      width: calc((100% - 1115px) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background-color: transparent;
        &.prev {
          margin-left: -50px;
        }
        &.next {
          margin-left: 50px;
        }
        img {
        }
      }
    }

    div {
      &.gallerywrapper {
        overflow: auto;
        width: 1115px;
        img{
          width: 100%;
        }
      }
    }
  }
}