* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%; }

input[type=reset], input[type=submit], input[type=button], button {
  cursor: pointer;
  border-radius: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%; }

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
  font-family: inherit; }

body {
  background-color: #212121;
  padding: 50px; }

div.site {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f7f7f7;
  padding: 50px; }

div > header {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  div > header div.lasha {
    width: 350px; }
    div > header div.lasha a {
      color: #333333;
      font-family: "DIN Next LT Pro";
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase; }
  div > header nav {
    width: calc(100% - 350px); }
    div > header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      div > header nav ul li {
        font-family: "DIN Next LT Pro";
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        color: #bcbcbc;
        margin-right: 100px; }
        div > header nav ul li.active {
          color: #333333; }

div .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 75px); }
  div .container aside {
    width: 350px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    div .container aside header address dl dt {
      color: #333333;
      font-family: "DIN Next LT Pro";
      font-size: 15px;
      font-weight: 400;
      line-height: 25px; }
    div .container aside header div.soc {
      margin-top: 55px; }
    div .container aside header div a img {
      margin-right: 10px; }
    div .container aside footer {
      color: #333333;
      font-family: "DIN Next LT Pro";
      font-size: 15px;
      font-weight: 400;
      line-height: 25px; }
  div .container main {
    width: calc(100% - 350px);
    height: 100%;
    overflow: auto; }
